/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "_login";
@include font-face("Bebas", font-files("/fonts/Bebas/Bebas-webfont.woff", "/fonts/Bebas/Bebas-webfont.ttf", "/fonts/Bebas/Bebas-webfont.svg"), "/fonts/Bebas/Bebas-webfont.eot");

// #app {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
// }
// .container {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
// }
h1.ambrosia {
    display: inline-block;
    margin-top: 2%;
    font-size: 200%;
    font-family: 'Bebas';
}
div.nav-bar {
    text-align: center;
    position: relative;
    width: 100%;
    height: 10%;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform-origin(50%, 50%);
}
span.log {
    position: relative;
    margin-top: 2%;
    margin-right: 2%;
    padding: 1%;
    float: right;
    font-family: "Bebas";
    text-align: center;
    background-color: antiquewhite;
    cursor: pointer;
    border: 1px solid black;
    @include border-radius(5px);
    &:hover {
        background-color: aqua;
    }
}
input.search {
    border: 1px solid;
    @include border-radius (10px);
}
