span.log {
    margin: 1em;
    font-family: "Bebas";
    font-size: 2vmin;
}
div.auth {
    @extend .famous-surface;
    top:0px;
    padding:1em;
    z-index: 10;
}
input.signup {
    margin: 1em;
    width: 50%;
    font-size: 1em;
    text-align: center;
}
input.login {
    @extend .signup;
}
div.social {
    padding: 0.2em;
    display: table-cell;
    cursor: pointer;
    font-size: 2vmin;
    border: 1px solid black;
}
input.submit {
    text-align: center;
    margin: 1em;
    font-size: 2vmin;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    width: 30%;
}
.error {
    display: block;
    font-size: 50%;
    font-style: italic;
    color: #cc0404;
}
form#signup,
form#login {
    span.close-icon {
        background-image: url("/public/icons/close.svg");
        float: right;
        width: 2vmin;
        height: 2vmin;
        cursor: pointer;
    }
    display: table-cell;
    padding: 1em;
    background-color: ghostwhite;
    @extend .famous-surface;
    //backface-visibility: hidden;
}
.logout-icon {
    background-image: url("/public/icons/logout.svg");

}
.question {
    margin: 2em;
    font-size: 50%;
}
