$bgColor: rgba(255, 255, 255, 0.8);
div.third {
  svg.command {
    border: 1px solid black;
    overflow: visible;
    path {
      marker-end : url(#markerArrow);
    }
  }
  div.dashboard {
    h1 {
      font-size: 1em;
      text-align: center;
    }
    .time {
      float: right;
    }
    .price {
      float: left;
    }
  }
  div.timeline {
    margin-top: 1em;
  }
}
div.openarestaurant {
  //padding: 1em;
  .plus-icon {
    background-image: url("/public/icons/plus-icon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  div.slide {
    position: relative;
    font-size: 2vmin;
    text-align: center;
    margin: 1em;
    background-color: slategrey;
    a.item {
      border: 1px solid black;
      width: 10%;
      flex-grow: 1;
      background-color: $bgColor;
      cursor: pointer;
    }
    a.active {
      flex-grow: 1.5;
      background-color: $bgColor;
    }
    svg.pointer {
      width: 8em;
    }
    svg.arrow {
      width: 4em;
      top: 1em;
      // bottom: auto;
      padding: 1em;
      position: absolute;
    }
    svg.arrow.right {
      @extend svg.arrow;
      right: 1em;
    }
    svg.arrow.left {
      @extend svg.arrow;
      left: 1em;
    }
  }
  div.list-container {
    display: block;
    text-align: center;
    margin: 1em;
    font-size: 3vmin;
    div.focus {
      @extend .famous-surface;
      background-color: $bgColor;
      text-align: left;
      h1 {
        margin: 0.5em 0 0 0.75em;
      }
      span.close-icon {
        background-image: url("/public/icons/close.svg");
        width: 2vmin;
        height: 2vmin;
        cursor: pointer;
        display: table-cell;
        //keep it!!
        position: absolute;
      }
      img {
        position: absolute;
        margin-left: 1.5em;
      }
      input {
        font-size: 2em;
        font-family: inherit;
        font-weight: bold;
        size: 4em;
        width: 9em;
        margin: 0.5em 0 0 0.75em;
      }
      div.description {
        width: 50%;
        left: 50%;
        position: absolute;
        textarea {
          font-family: inherit;
          width: 100%;
          font-size: 0.5em;
          height: 8em;
        }
        p {
          width: 100%;
          font-size: 0.5em;
          height: 8em;
          margin: 0;
        }
        h2 {
          margin: 0;
        }
      }
    }
    div.card-item {
      @extend .famous-surface;
      margin-bottom: 1em;
      width: 30%;
      height: 8em;
      overflow: hidden;
      h1 {
        margin: 0;
        font-size: 1em;
        backface-visibility: hidden;
        background-color: $bgColor;
      }
      input {
        font-size: 1em;
        width: 60%;
        border: none;
      }
      span.close-icon {
        background-image: url("/public/icons/close.svg");
        width: 1em;
        height: 1em;
        cursor: pointer;
        display: table-cell;
        //keep it!!
        position: absolute;
      }
      .unvisible {
        position: absolute;
        width: 0;
        margin-top: 2em;
        z-index: -1;
      }
      img {
        width: 100%;
        height: 80%;
      }
    }
  }
}
