div.openarestaurant {
  background-color: rgba(255, 255, 255, 0.8);
  //padding: 1em;
  .plus-icon {
    background-image: url("/public/icons/plus-icon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  div.container {
    margin-top: 1em;
    display: flex;
    /* height: 15%; */
    font-size: 2vmin;
    text-align: center;
    flex-flow: row wrap;
    a.item {
      border: 1px solid black;
      width: 10%;
      flex-grow: 1;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }
    a.active {
      flex-grow: 1.5;
      background-color: rgba(17, 141, 48, 0.81);
    }
  }
  div.list-container {
    display: block;
    text-align: center;
    margin: 1em;
    font-size: 3vmin;
    div.card-item {
      @extend .famous-surface;
      margin-bottom: 1em;
      width: 30%;
      height: 8em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden;
      input {
        font-size: 1em;
        width: 60%;
        border: none;
      }
      span.close-icon {
        background-image: url("/public/icons/close.png");
        width: 1em;
        height: 1em;
        cursor: pointer;
        display: table-cell; //keep it!!
        position: absolute;
      }
      .unvisible {
        position: absolute;
        width: 0;
        margin-top: 2em;
        z-index: -1;
      }
      img {
        width: 8em;
        height: 7em;
        border: 1px solid black;
      }
    }
  }
}
