div.open {
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
  div.error {
    //font-size: 1em;
    text-align: center;
  }
  input.open, textarea.open {
    padding: none !important;
    width: 50%;
    font-size: inherit;
    margin: 0.5em;
  }
  span {
    background-color: $bgColor;
  }
}
