/* line 1, ../sass/_professional.scss */
h1.pro {
  font-size: 1em;
}

/* line 5, ../sass/_professional.scss */
div#pro {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}
/* line 8, ../sass/_professional.scss */
div#pro h1 {
  font-size: 1em;
}
/* line 11, ../sass/_professional.scss */
div#pro h3 {
  font-size: 0.7em;
}
/* line 14, ../sass/_professional.scss */
div#pro p, div#pro a {
  font-size: 0.5em;
}

/* line 1, ../sass/_auth.scss */
span.log {
  margin: 1em;
  font-family: "Bebas";
  font-size: 50%;
}

/* line 6, ../sass/_auth.scss */
div.form {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 12, ../sass/_auth.scss */
input.signup, input.login {
  margin: 1em;
  width: 50%;
  font-size: 1em;
  text-align: center;
}

/* line 21, ../sass/_auth.scss */
div.social {
  padding: 0.2em;
  display: table-cell;
  cursor: pointer;
  font-size: 50%;
  border: 1px solid black;
}

/* line 28, ../sass/_auth.scss */
input.submit {
  text-align: center;
  margin: 1em;
  font-size: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  width: 30%;
}

/* line 37, ../sass/_auth.scss */
.error {
  display: block;
  font-size: 50%;
  font-style: italic;
  color: #cc0404;
}

/* line 43, ../sass/_auth.scss */
form#signup,
form#login {
  display: table-cell;
  padding: 1em;
}
/* line 45, ../sass/_auth.scss */
form#signup span.close-icon,
form#login span.close-icon {
  background-image: url("/public/icons/close.svg");
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 57, ../sass/_auth.scss */
.logout-icon {
  background-image: url("/public/icons/logout.svg");
}

/* line 61, ../sass/_auth.scss */
.question {
  margin: 2em;
  font-size: 50%;
}

/* line 5, ../sass/_openarestaurant.scss */
div.openarestaurant .plus-icon {
  background-image: url("/public/icons/plus-icon.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
/* line 13, ../sass/_openarestaurant.scss */
div.openarestaurant div.container {
  font-size: 2vmin;
  text-align: center;
}
/* line 16, ../sass/_openarestaurant.scss */
div.openarestaurant div.container a.item {
  border: 1px solid black;
  width: 10%;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
/* line 23, ../sass/_openarestaurant.scss */
div.openarestaurant div.container a.active {
  flex-grow: 1.5;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 27, ../sass/_openarestaurant.scss */
div.openarestaurant div.container svg.pointer {
  width: 8em;
}
/* line 30, ../sass/_openarestaurant.scss */
div.openarestaurant div.container svg.arrow, div.openarestaurant div.container svg.arrow.right, div.openarestaurant div.container svg.arrow.left {
  width: 5em;
  top: 3em;
  position: absolute;
}
/* line 35, ../sass/_openarestaurant.scss */
div.openarestaurant div.container svg.right.arrow {
  right: 1em;
}
/* line 39, ../sass/_openarestaurant.scss */
div.openarestaurant div.container svg.left.arrow {
  left: 1em;
}
/* line 44, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container {
  display: block;
  text-align: center;
  margin: 1em;
  font-size: 3vmin;
}
/* line 49, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
}
/* line 53, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus h1 {
  margin: 0.5em 0 0 0.75em;
}
/* line 56, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus span.close-icon {
  background-image: url("/public/icons/close.svg");
  width: 1em;
  height: 1em;
  cursor: pointer;
  display: table-cell;
  position: absolute;
}
/* line 65, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus img {
  position: absolute;
  margin-left: 1.5em;
}
/* line 69, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus input {
  font-size: 2em;
  font-family: inherit;
  font-weight: bold;
  size: 4em;
  width: 9em;
  margin: 0.5em 0 0 0.75em;
}
/* line 77, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus div.description {
  width: 50%;
  left: 50%;
  position: absolute;
}
/* line 81, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus div.description textarea {
  font-family: inherit;
  width: 100%;
  font-size: 0.5em;
  height: 8em;
}
/* line 87, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus div.description p {
  width: 100%;
  font-size: 0.5em;
  height: 8em;
  margin: 0;
}
/* line 93, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.focus div.description h2 {
  margin: 0;
}
/* line 98, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item {
  margin-bottom: 1em;
  width: 30%;
  height: 8em;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
/* line 105, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item h1 {
  margin: 0;
  font-size: 1em;
  backface-visibility: hidden;
}
/* line 110, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item input {
  font-size: 1em;
  width: 60%;
  border: none;
}
/* line 115, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item span.close-icon {
  background-image: url("/public/icons/close.svg");
  width: 1em;
  height: 1em;
  cursor: pointer;
  display: table-cell;
  position: absolute;
}
/* line 124, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item .unvisible {
  position: absolute;
  width: 0;
  margin-top: 2em;
  z-index: -1;
}
/* line 130, ../sass/_openarestaurant.scss */
div.openarestaurant div.list-container div.card-item img {
  width: 100%;
  height: 80%;
  border: 1px solid black;
}

/* line 1, ../sass/_restaurantname.scss */
div.open {
  font-size: 0.5em;
  margin: 0.5em;
  text-align: center;
}
/* line 5, ../sass/_restaurantname.scss */
div.open input.open, div.open textarea.open {
  padding: none !important;
  width: 80%;
  font-size: inherit;
  margin: 0.5em;
}
/* line 11, ../sass/_restaurantname.scss */
div.open span {
  background-color: rgba(255, 255, 255, 0.8);
}

@font-face {
  font-family: "Bebas";
  src: url(/public/fonts/Bebas/Bebas-webfont.eot);
  src: url(/public/fonts/Bebas/Bebas-webfont.eot?#iefix) format('embedded-opentype'), url(/public/fonts/Bebas/Bebas-webfont.woff) format('woff'), url(/public/fonts/Bebas/Bebas-webfont.ttf) format('truetype'), url(/public/fonts/Bebas/Bebas-webfont.svg) format('svg');
}
/* line 8, ../sass/ambrosia.scss */
.famous-surface, div.auth, form#signup,
form#login, div.openarestaurant div.list-container div.focus, div.openarestaurant div.list-container div.card-item, .list, .list-item, .burger-button, input.search {
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
}

/* line 22, ../sass/ambrosia.scss */
.famous-container, .famous-group {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /*overflow: visible;*/
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  pointer-events: none;
}

/* line 35, ../sass/ambrosia.scss */
.famous-group {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 43, ../sass/ambrosia.scss */
.famous-container-group {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 51, ../sass/ambrosia.scss */
.hidden {
  display: none;
}

/* line 56, ../sass/ambrosia.scss */
.list-item:hover {
  cursor: pointer;
  font-emphasize: right;
}

/* line 62, ../sass/ambrosia.scss */
.body {
  text-align: justify;
  overflow: scroll;
}

/* line 66, ../sass/ambrosia.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 70, ../sass/ambrosia.scss */
.title {
  font-size: 2em;
  font-style: bold;
  margin: 2em;
}

/* line 75, ../sass/ambrosia.scss */
.button {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  padding: 0.2em;
  font-size: 100%;
  border: 1px solid black;
}

/* line 86, ../sass/ambrosia.scss */
.burger-button:hover {
  cursor: pointer;
}

/* line 90, ../sass/ambrosia.scss */
h1.ambrosia {
  font-family: 'Bebas';
  margin: 0;
}

/* line 94, ../sass/ambrosia.scss */
.home-page {
  background-image: url("/public/images/burger.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 99, ../sass/ambrosia.scss */
input.search {
  border: 1px solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
